// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
    width: 100%;
    height: var(--page-footer-altura);
    background-color: darken($brand-color, 20%);

    @include mq('tablet-small', 'max'){
        height: unset;
    }

    .row-container{
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq('tablet-small', 'max'){
            flex-direction: row-reverse;
        }
    }

    .logo{
        display: flex;
        height: inherit;

        &__imagen{
            height: calc(100% - 1.5rem);
            margin: auto 0;

            @include mq('tablet-small', 'max'){
                height: 50px;
            }
        }

        &__texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1rem;
            letter-spacing: 2px;
            color: white;
        }

        &:hover{
            color: white;
        }
    }

    .nav-bottom{
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;

            @include mq('tablet-small', 'max'){
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 1rem 0;
            }
        }

        li{
            margin: 0 1rem;

            &:nth-last-child(1){
                margin-right: 0;
            }
        }

        a{
            color: white;

            &:hover{
                color: $brand-color-tint-1;
            }
        }
    }
}