// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.clearfix-top{
    display: table;
    height: var(--page-header-altura);
}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: var(--page-header-altura);
    z-index: 2;
    background-color: white;

    .row-container{
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        display: flex;
        height: inherit;

        &__imagen{
            height: calc(100% - 1.5rem);
            margin: auto 0;
        }

        &__texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 1rem;
            letter-spacing: 2px;
        }

        &:hover{
            color: $brand-color;
        }
    }

    .icono--menu{
        display: none;
        cursor: pointer;

        @include mq('900', 'max'){
            display: inline-block;
        }
    }
}

.nav-top{
    ul{
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        li{
            margin: .5rem 1rem;
            padding: 1rem 1rem;

            &:nth-last-child(1){
                margin: .5rem 0 .5rem 1rem;
                padding: 1rem 0 1rem 1rem;
            }
        }

        a{
            // margin: .5rem 1rem;
            // padding: 1rem 1rem;
        }
    }

    @include mq('900', 'max'){
        display: none;
    }
}